nav#landmarks {
    display:none;
}

nav#page-list {
    display:none;
}

ol {
    list-style-type: none;
}

p {
font-family: "literata";
//font-size: 1.00em;
//text-align: justify;
}

@font-face {
font-family: "literata";
font-weight: normal;//400
font-style: normal;
src: url(../Fonts/Literata-Regular.ttf);
}

#title {
  text-align: center;
  padding: 10px;
  font-size: 24px;
  margin-right: 10px;
  margin-left: 10px;
}

#greekWordList {
  text-align: center;
  padding: 10px;
  font-size: 32px;
  margin-right: 10px;
  margin-left: 10px;
}

p.greekShortText {
  text-align: center;
  padding: 10px;
  font-size: 32px;
  text-indent: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}

#greekLongText {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#citationRef {
  align-self: center;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#phonetics {
  align-self: center;
  padding: 2px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
}

#translation {
  align-self: center;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
}

#linguisticNote {
  align-self: center;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
}

#eeComment {
  align-self: center;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
}

span.case {
  color: #00FF00; /* green */
}

.-epub-media-overlay-active {
   background-color: green ; /*#FFFF99*/ /* #FFFF00 */
}

.-epub-media-overlay-playing {
	/* background-color: #FFFF00; */
}

.jsplaying {
	background-color: #FFFF00;
}